button{
    @extend .bold;
    color: #3498DB;
    background-color: white;
    border: 2px solid #3498DB;
    height: 53px;
    width: 212px;
    border-radius: 55px;
    margin-left: 42px;
    margin-top: -5px;
    transition: 0.2s all ease;
    &:hover{
        color: white;
        background-color: #3498DB;
    }
}